body, html, ul {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
body {
	background-color: #f7f7f7;
}
.clearfic::after {
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.navbar-inverse {
	background-color: #fff;
    border-color: transparent;
}
.navbar {
	margin-bottom: 0;
}
.logo-img {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: url("../img/logo.png");
	background-size: cover;
}
.name {
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 7px;
}
.navbar-brand {
	padding: 5px 15px;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #009944;
}
.navbar-brand span {
	float: left;
}
.navbar-inverse .navbar-brand {
	color: #009944;
}
.site-navbar .navbar-nav {
    float: right!important;
}
.navbar-nav {
	padding: 6px;
}
.user-name, .user-phone {
	display: inline-block;
	width: 190px;
	padding: 8px 0 8px 18px;
	background-color: #f0f0f0;
	border: 0;
	border-radius: 5px;
	margin-right: 17px;
	font-size: 14px;
}
.listening {
	display: inline-block;
	width: 100px;
	padding: 6px 0;
	text-align: center;
	border: 0;
	background-color: #009944;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
}
input:focus, button:focus {
	outline: none;
}
select:focus {
	outline: none;
}
.nav li {
	float: left;
	margin-left: 10px;
}
.navbar-inverse .navbar-toggle {
    border-color: #009944;
    background-color: #009944;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #009944;
	border-color: #009944;
}
.navbar-inverse .navbar-collapse {
	border-color: #009944;
}
.container-fluid {
	position: absolute;
	top: 52px;
	left: 0;
	z-index: 10;
	padding-left: 0;
	padding-right: 0;
}
.header-wrapper {
	position: relative;
	overflow: hidden;
}
.context img {
	width: 100%;
	height: 100%;
}
.box {
	position: absolute;
	height: 125px;
	z-index: 20;
	margin: auto;  
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    text-align: center;
}
h2 {
	color: #fff;
}
.box-submit {
	width: 574px;
	padding: 8px 24px;
	background-color: rgba(0,0,0,0.2);
	margin: auto;  
    position: absolute;  
    top: 72px; 
    left: 0; 
    bottom: 0; 
    right: 0; 
}
.name-special, .phone-special {
	float: left;
	text-align: center;
	padding: 7px;
}
.listening-special {
	float: right;
	background: #ff9f00;
}
.introduce {
	margin-top: 514px;
	background-color: #f7f7f7;
	padding-bottom: 33px;
}
.company {
	text-align: center;
	margin: 0 auto 90px auto;
}
.company .title {
	padding: 55px 0;
	font-size: 22px;
	color: #7f7f7f;
}
.company p {
	margin-bottom: 30px;
	font-size: 13px;
	color: #7f7f7f;
}
.course-name, .team-name, .job-name {
	position: relative;
	height: 40px;
	padding: 0 33px;
	text-align: center;
}
.cut {
	width: 100%;
	height: 1.5px;
	background-color: #666;
	margin: 20px 0;
}
.course-name .title, .team-name .title, .job-name .title {
	position: absolute;
	top: -14px;
	left: 0;
	margin: auto;
	right: 0;
	bottom: 0;
	width: 180px;
	padding: 5px 0;
	text-align: center;
	background-color: #f7f7f7;
	z-index: 22;
	color: #666;
}
.course-item {
	position: relative;
	float: left;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	padding-bottom: 30px;
	margin-bottom: 10px;
	width: 100%;
	height: 330px;
	overflow: hidden;
}
.course-item:hover {
	position: relative;
	margin-top: -2px;
	box-shadow: 0 5px 13px rgba(0,0,0,0.15);
}
.course-item:nth-of-type(4) {
	margin-right: 0;
}
.course-item .android {
	width: 70px;
	height: 80px;
	margin: 35px auto;
}
.huawei, .baidu {
	margin: 45px auto;
}
.course-item p {
	color: #989898;
}
.course-item p, .job-list-item p {
	text-align: center;
	font-size: 14px;
}
.course-item p i {
	font-size: 66px;
}
.huawei i {
	font-size: 50px;
}
.baidu i {
	font-size: 28px;
}
.course-item .title, .student-name {
	margin: 0 auto;
	color: #c0a75e;
	font-size: 17px;
	margin-bottom: 10px;
}
.label {
	margin-top: 20px;
}
.wire {
	width: 50px;
	height: 1px;
	background-color: #c0a75e;
	margin: 10px 0;
	display: inline-block;
}
.job-cen {
	text-align: center;
}
.team-item img {
	position: absolute;
	top: 0;
	right: -50px;
	width: 100%;
	height: 100%;
}
.teacherBox {
	position: absolute;
	top: 30px;
	width: 100px;
	height: 100px;
	z-index: 9999;
}
.teacherBox p {
	color: #c0a75e;
	line-height: 20px;
}
.teacherBox .teacher-name {
	color: #989898;
}
.get-job {
	background-color: #d8d8d8;
	padding: 30px 0;
}
.job-name .title-special {
    background-color: #d8d8d8;
}
.row {
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
}
.job-list-item {
	position: relative;
	width: 16.6666%;
	height: 260px;
	background-color: #fff;
	float: left;
	display: inline-block;
}
.jobSpecial {
	background-color: #fff;
}
.job-list-item img {
	width: 100%;
	height: 100%;
}
/*.job-list-item:nth-of-type(1) img,
.job-list-item:nth-of-type(3) img,
.job-list-item:nth-of-type(6) img,
.job-list-item:nth-of-type(8) img {
	width: 100%;
	height: 100%;
}*/
.list-special, .job-special {
	z-index: 10;
}
.job-special::after {
	left: -12px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 67px;
    border-top: 11px solid transparent;
    border-right: 9px solid #fff;
    border-bottom: 9px solid transparent;
}
.list-special::after {
	right: -12px;
	top: 67px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-top: 11px solid transparent;
    border-left: 9px solid #fff;
    border-bottom: 9px solid transparent;
}
.marker-top {
	margin-top: 25px;
}
.footer {
	background-color: #000;
	padding: 50px 0;
}
.footer-container {
	margin: 0 auto;
	width: 365px;
}
.footer-title {
	position: relative;
	width: 100%;
	height: 40px;
	padding: 0 5%;
}
.footer-cut {
	position: absolute;
	top: 8px;
	width: 90%;
	height: 1px;
	background-color: #fff;
}
.footer-title .title {
	position: absolute;
	top: -2px;
	width: 238px;
	padding: 5px 0;
	text-align: center;
	background-color: #000;
	z-index: 22;
	color: #fff;
	font-size: 14px;
	margin: auto;  
    left: 0; 
    bottom: 0; 
    right: 0;
}
.join {
	width: 135px;
	height: 152px;
	margin: 10px auto;
	text-align: center;
}
.join img {
	width: 135px;
	height: 130px;
}
.join-our {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	margin-top: 10px;
}
.footer-container p {
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
}
.footer-container p:nth-of-type(1) {
	margin-top: 50px;
}
.cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 99999;
	display: none;
}
.teacher-box {
	z-index: 999999;
}
.Introduce {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 99999;
	display: none;
}
.login, .bomb-box{
	background-color: #fff;
	width: 53%;
	height: 550px;
	padding-bottom: 28px;
	border-radius: 5px;
	margin: auto;  
    position: absolute;  
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
}
.login-box {
	position: relative;
}
.login-close {
    float: right;
    width: 25px;
    height: 25px;
    margin: 16px 15px 0 0;
    cursor: pointer;
    background-color: #444;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    opacity: 0.9;
}
.login-list {
	margin: 10px auto;
	padding: 15px 0;
	width: 580px;
}
.login-item {
	position: relative;
	margin: 10px 0;
}
.login-title {
	float: left;
	display: inline-block;
	width: 100px;
	padding: 10px;
	text-align: center;
}
.login-item .grade-title {
	width: 70px;
}
.text-item, #phone {
	float: left;
	width: 290px;
	height: 36px;
	padding-left: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	background-color: #fff;
}
.login-item .college-name {
	width: 137px;
}
.grade {
	width: 83px;
}
.login-item .item-special {
	width: 290px;
	height: 32px;
}
.login-item #phone {
	width: 142px;
	height: 32px;
}
.text-option {
	width: 281px;
	height: 44px;
	padding-left: 10px;
	border: 1px solid #000;
	background-color: #fff;
}
.post-icon {
	position: absolute;
	top: 10px;
	right: 347px;
}
.post-icon span i {
	font-size: 11px;
}
.post-icon span {
	display: block;
	float: right;
}
.school-list, .college-list, .class-list {
	width: 120px;
	background-color: red;
	margin-top: 20px;
	background-color: #e0e0e0;
	border-radius: 3px;
	display: none;
}
.school-list ul li, .college-list ul li, .class-list ul li {
	padding: 5px 0;
	font-size: 13px;
	color: #fff;
	text-align: center;
}
.school-list ul li:hover, .college-list ul li:hover, .class-list ul li:hover {
	background-color: #98fb98;
}
.login-item:nth-of-type(1) {
	z-index: 99;
}
.login-item:nth-of-type(2) {
	z-index: 88;
}
.login-item:nth-of-type(3) {
	z-index: 77;
}
.changed {
	-o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slider {
	float: left;
    height: 0;
    left: 100px;
}
.send1 {
	padding: 9px 0;
	margin-left: 52px;
	border: 0;
	color: #fff;
	background-color: #d0d0d0;
	width: 92px;
	border-radius: 2px;
}
.send1-special {
	background-color: #ff9f00;
}
.submit-btn {
	display: inline-block;
    padding: 9px 30px;
    margin: 0 auto;
    width: 286px;
    margin-left: 103px;
    border: 0;
    background-color: #d0d0d0;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 15px;
}
.submit-btn-special {
	background-color: #009944;
}
.login-item input:focus {
	outline: none;
}
.header-fix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}
.error {
	font-size: 13px;
	color: red;
}
.login-box {
	background-color: #fff;
	border: 2px solid #000;
	width: 700px;
	height: 500px;
	margin: 50px auto;
}
.close {
    float: right;
    color: #989898;
    padding-right: 20px;
    margin-top: 10px;
}
.close i {
    font-size: 35px;
}
.teacher-box {
	z-index: 999999;
}
.in-box {
	height: 100%;
}
.in-box-img, .bomb-img {
	position: relative;
	color: #fff;
}
.box-img {
	position: absolute;
	top: 68px;
	left: 0;
	/*width: 260px;
	height: 400px;*/
	width: 165px;
	height: 330px;
	border-radius: 5px;
}
.course-img {
	position: absolute;
    top: 112px;
    width: 260px;
    height: 232px;
    color: #989898;
    text-align: center;
}
.course-img i {
	font-size: 204px;
}
.in-box-img img {
	width: 265px;
	height: 330px;
	border-radius: 5px;
}
.in-box-title {
	width: 397px;
	height: 100%;
	margin-left: 310px;
}
.teacher-title {
	color: #c0a75e;
    font-size: 17px;
}
.teacher-name {
	color: #464646;
	font-size: 15px;
}
.teacherTitle {
	width: 341px;
    margin-top: 45px;
    font-size: 14px;
    visibility: visible;
    text-align: justify;
    line-height: 27px;
}
.teacherTitle p {
	line-height: 20px;
	color: #252525;
	font-size: 12px;
	word-wrap: break-word;
}
/*.mar-top {
	margin-top: 52px;
}*/
@media (max-width: 768px) {
	.introduce {
		margin-top: 150px;
	}
	.nav li {
		width: 30%;
	}
	.nameSpecial, .phoneSpecial {
		float: left;
	    width: 100%;
	    height: 28px;
	    font-size: 3px;
	}
	.send-btn {
		width: 70%;
	    height: 28px;
	   	font-size: 12px;
	}
	.box-submit {
		width: 96%;
    	padding: 9px 3px;
	}
	.name-special, .phone-special {
		width: 37%;
	    height: 28px;
	    font-size: 10px;
	    margin-right: 4px;
	}
	.listening-special {
		width: 20%;
	    height: 28px;
	    font-size: 10px;
	}
	h2 {
		font-size: 21px;
    	margin-top: 30px;
	}
	.footer-container {
		width: 330px;
	}
	.footer {
		padding: 20px 0;
	}
	.footer-title {
		height: 24px;
	}
	.footer-container p:nth-of-type(1) {
    	margin-top: 20px;
	}
	.footer-container p {
		margin-top: 10px;
	}
	.job-list-item {
		width: 50%;
	}
	.login {
		width: 92%;
		height: 450px;
	}
	.bomb-box {
		width: 92%;
		height: 415px;
	}
	.login-list {
		margin: 0 auto;
	}
	.login-item {
		margin: 6px 0;
	}
	.login-title {
		width: 14.5%;
	}
	.text-item, #phone {
		width: 41%;
		height: 33px;
	}
	.login-item .college-name {
    	width: 20%;
	}
	.login-item .grade-title {
    	width: 10%;
	}
	.grade {
		width: 11%;
	}
	.login-item .item-special {
		width: 41%;
	}
	.send1 {
		width: 18%;
		padding: 8px 0;
		margin-left: 30px;
	}
	.submit-btn {
		width: 41%;
		padding: 7px 30px;
		margin-left: 50px;
		margin-top: 5px;
	}
	.login-item #phone {
		width: 18%;
	}
	#slider {
		width: 231px;
	}
	.close i {
		font-size: 28px;
	}
	.box-img {
		width: 120px;
		height: 170px;
		top: 107px;
	}
	.course-img {
		width: 106px;
		height: 148px;
	}
	.in-box-img img {
	    width: 120px;
	    height: 170px;
	}
	.in-box-title {
		width: 190px;
		height: 90%;
		margin-left: 128px;
	}
	.teacher-title, .teacher-name {
		font-size: 14px;
	}
	.wire {
		margin: 4px 0;
	}
	.teacherTitle {
		width: 100%;
		font-size: 9px;
		margin-top: -5px;
		line-height: 17px;
	}
	.course-img i {
		font-size: 83px;
	}
	.bomb-img {
		top: -34px;
	}
	.team-item img {
		width: 84%;
	}
	.teacherBox {
		left: 35px;
		top: 41px;
	}
	.label {
		margin-left: 86px;
		font-size: 14px;
		line-height: 40px;
	}
	.button {
		width: 42px;
		height: 37px;
	}
	.icon {
		top: 5px;
    	left: 14px;
	}
	.label {
		margin-left: 86px;
		font-size: 14px;
		line-height: 40px;
	}
	.button-on {
		height: 38px;

	}
	.spinner {
		width: 30px;
		height: 30px;
		top: 3px;
	}
	.slider {
		left: 85px;
		height: 37px;
	}
	.stage {
		height: 40px;
	}
	.course-item .label {
		margin-left: -1px;
	}
}
.jobPopup {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}
.panel-list {
	/*position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
	margin: auto;
	/*position: relative;*/
	/*position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -493.5px;*/
	/*width: 70%;*/
	width: 987px;
	height: 700px;
	background-color: #fff;
	/*margin: 90px auto;*/
	overflow: hidden;
}
.panelList {
	overflow-x: auto;
}
.btn-box {
	/*position: absolute;
	bottom: 10px;
	left: 45%;*/
	text-align: center;
}
.btn-box i {
	color: #fff;
	font-size: 30px;
}
.panel-item {
	width: 3948px;
	height: 564px;
	margin-left: -987px;
}
.panelItem {
	float: left;
	width: 1140px;
	height: 1127px;
}
.panelItem li {
	width: 246.75px;	
}
.panelBox {
	/*width: 2280px;*/
	/*width: 3420px;*/
	height: 564px;
	/*margin-left: -1140px;*/
}
.panel {
	width: 100%;
	/*width: 1140px;*/
	border:0;
	float: left;
}
.closePanel {
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.jobPopup .col-md-12 {
	padding-left: 0;
	padding-right: 0;
}
.overBox {
	width: 100%;
	height: 90%;
	margin: 5% auto;
	overflow-y: scroll;
}
.iconFont img {
	width: auto;
    height: 65px;
}
.hiddenNav {
	padding: 15px 0;
}
.hiddenNav input {
	color: #9d9485;
	font-size: 10px;
}
.hiddenLogin {
	overflow-y: scroll;
}